<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478415832970-jq94oj0ub6j52jfkppede5c355caqjh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478415832970-jq94oj0ub6j52jfkppede5c355caqjh5</string>
	<key>API_KEY</key>
	<string>AIzaSyAGo_0RpnbZa2_T7pIQxyIekrvxffxSD88</string>
	<key>GCM_SENDER_ID</key>
	<string>478415832970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ziyiz.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-2cb93</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-2cb93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478415832970:ios:b96e121d75a1f2b027ea73</string>
</dict>
</plist>